/*!
 * Custom.css v0.1 
 * Giulio Grasso.
 */

body {
    background-color: red;
    color: #333;
}

.jumbotron {
    background: #333 url("../images/jumbotron/giraffe.jpeg") no-repeat center center;
}

.jumbotron h1 {
    color: ##fff;
}

.jumbotron p {
    color: #333;
}

.introduction {
    background-color: #ccc;
}

.introduction img {
    float: left;
    margin-bottom: 10px;
    padding-left: 0;
    border-radius: 180px;
}

.introduction p {
    float: left;
}

#firstAnswer,
.morecontent {
    display: none;
}